automation/n8n/passwordmonkey-news-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX"
            }
          ]
        }
      },
      "id": "c912ce67-f6f1-4cc9-9e2b-fff5cad06bdf",
      "name": "Cron Trigger1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -544,
        1648
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feed1",
              "name": "feed",
              "value": "https://thehackernews.com/feeds/posts/default?alt=rss",
              "type": "string"
            },
            {
              "id": "source1",
              "name": "source",
              "value": "The Hacker News",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "55060407-b2d8-475a-84fb-f153789e0704",
      "name": "Set Feed ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        736
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feed2",
              "name": "feed",
              "value": "https://www.securityweek.com/feed/",
              "type": "string"
            },
            {
              "id": "source2",
              "name": "source",
              "value": "Security Week",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8744a4f4-278d-477e-b0ed-499843cf1cf3",
      "name": "Set Feed 4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feed3",
              "name": "feed",
              "value": "https://www.bleepingcomputer.com/feed/",
              "type": "string"
            },
            {
              "id": "source3",
              "name": "source",
              "value": "Bleeping Computer",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b88a349d-040b-4e15-b205-b26aaf2e2bfd",
      "name": "Set Feed 5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        1040
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.feed }}",
        "options": {
          "customFields": ""
        }
      },
      "id": "40e7fed4-ac5e-4358-875a-9687222c6ac4",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        1344,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\n// Extract domain from a URL string, remove www., fallback to 'unknown'\nfunction extractDomain(url) {\n  if (!url) return 'unknown';\n  try {\n    // Regex to get the domain from a URL\n    const match = url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n    return match ? match[1] : 'unknown';\n  } catch (e) {\n    return 'unknown';\n  }\n}\n\n// Normalize each RSS item\nfor (const item of $input.all()) {\n  const rssItem = item.json;\n\n  const normalizedItem = {\n    source: extractDomain(rssItem.link), // Use only link\n    title: rssItem.title || '',\n    link: rssItem.link || '',\n    publishedAt: rssItem.pubDate || rssItem.published || new Date().toISOString(),\n    author: rssItem.author || rssItem.creator || null,\n    description: rssItem.description || rssItem.summary || null,\n    content: rssItem.content || rssItem['content:encoded'] || rssItem.description || null\n  };\n\n  items.push({ json: normalizedItem });\n}\n\nreturn items;\n"
      },
      "id": "79141430-c168-4da2-85f7-5eb7e32111c2",
      "name": "Normalize Items1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        1664
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter ALL items by keywords - not just the first one\nconst keywords = ($vars.NEWS_KEYWORDS || 'password,breach,authentication,cybersecurity')\n  .toLowerCase()\n  .split(',')\n  .map(k => k.trim());\n\nconst matchedItems = [];\n\n// Process ALL items from input, not just the first\nfor (const inputItem of $input.all()) {\n  const item = inputItem.json;\n  const textToSearch = [\n    item.title || '',\n    item.description || '',\n    item.content || ''\n  ].join(' ').toLowerCase();\n\n  // Check if any keyword matches (word boundary friendly)\n  const hasMatch = keywords.some(keyword => {\n    const regex = new RegExp('\\\\b' + keyword.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&') + '\\\\b', 'i');\n    return regex.test(textToSearch);\n  });\n\n  if (hasMatch) {\n    matchedItems.push({ json: item });\n  }\n}\n\nreturn matchedItems;"
      },
      "id": "8b75fb47-ef4e-4b12-a23d-54a94656f6a0",
      "name": "Keyword Filter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        1664
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "use-summary-check",
              "leftValue": "={{ $vars.USE_SUMMARY }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "955b378d-91c6-482d-a32b-82a197ab1c90",
      "name": "Check Summary1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2352,
        1664
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate filename and HTML content using template\nconst crypto = require('crypto');\nconst item = $input.first().json;\n\n// Slugify title\nfunction slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .substring(0, 50);\n}\n\n// Generate hash from link\nconst hash = crypto.createHash('sha256').update(item.link).digest('hex').substring(0, 6);\n\n// Format dates\nconst publishDate = new Date(item.publishedAt);\nconst publishDateYMD = publishDate.toISOString().split('T')[0];\nconst publishDateHuman = publishDate.toLocaleDateString('en-US', { \n  year: 'numeric', \n  month: 'short', \n  day: 'numeric' \n});\nconst publishYear = publishDate.getFullYear();\nconst publishDateISO = `${publishDateYMD}T12:00:00Z`;\n\n// Create filename\nconst slug = slugify(item.title).trim();\nconst filename = `${publishDateYMD}-${slug}-${hash}.html`.trim();\n\n// Prepare description (150-160 chars)\nconst description = (item.summaryContent || item.description || item.title)\n  .replace(/<[^>]*>/g, '')\n  .substring(0, 160)\n  .replace(/\\s+$/, '');\n\n// Prepare body HTML\nlet bodyHtml = item.summaryContent || item.content || item.description || '';\nif (!bodyHtml.includes('<p>')) {\n  bodyHtml = `<p>${bodyHtml}</p>`;\n}\n\n// Prefix all external links with your domain\nconst proxyBase = \"https://www.passwordmonkey.org/rss?url=\";\nconst proxiedLink = proxyBase + encodeURIComponent(item.link);\n\n// Your comprehensive HTML template with all placeholders replaced\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>${item.title} | Password Monkey</title>\n    <meta name=\"description\" content=\"${description}\">\n    <meta name=\"date\" content=\"${publishDateYMD}\">\n    <meta name=\"author\" content=\"PasswordMonkey\">\n    <meta name=\"robots\" content=\"index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1\">\n    \n    <!-- Open Graph / Facebook -->\n    <meta property=\"og:type\" content=\"article\">\n    <meta property=\"og:url\" content=\"https://passwordmonkey.org/news/${filename}\">\n    <meta property=\"og:title\" content=\"${item.title}\">\n    <meta property=\"og:description\" content=\"${description}\">\n    <meta property=\"og:image\" content=\"https://passwordmonkey.org/images/og-image.png\">\n    <meta property=\"og:image:width\" content=\"1200\">\n    <meta property=\"og:image:height\" content=\"630\">\n    <meta property=\"og:site_name\" content=\"PasswordMonkey\">\n    <meta property=\"og:locale\" content=\"en_US\">\n    <meta property=\"article:published_time\" content=\"${publishDateISO}\">\n    <meta property=\"article:author\" content=\"PasswordMonkey\">\n    \n    <!-- Twitter -->\n    <meta name=\"twitter:card\" content=\"summary_large_image\">\n    <meta name=\"twitter:url\" content=\"https://passwordmonkey.org/news/${filename}\">\n    <meta name=\"twitter:title\" content=\"${item.title}\">\n    <meta name=\"twitter:description\" content=\"${description}\">\n    <meta name=\"twitter:image\" content=\"https://passwordmonkey.org/images/og-image.png\">\n    \n    <!-- Additional SEO Meta Tags -->\n    <meta name=\"theme-color\" content=\"#2563eb\">\n    <meta name=\"msapplication-TileColor\" content=\"#2563eb\">\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    <meta name=\"apple-mobile-web-app-status-bar-style\" content=\"default\">\n    <meta name=\"apple-mobile-web-app-title\" content=\"PasswordMonkey\">\n    <meta name=\"application-name\" content=\"PasswordMonkey\">\n    <meta name=\"format-detection\" content=\"telephone=no\">\n    \n    <!-- Structured Data - NewsArticle Schema -->\n    <script type=\"application/ld+json\">\n    {\n        \"@context\": \"https://schema.org\",\n        \"@type\": \"NewsArticle\",\n        \"headline\": \"${item.title}\",\n        \"description\": \"${description}\",\n        \"datePublished\": \"${publishDateISO}\",\n        \"dateModified\": \"${publishDateISO}\",\n        \"author\": {\n            \"@type\": \"Organization\",\n            \"name\": \"PasswordMonkey\",\n            \"url\": \"https://passwordmonkey.org/\"\n        },\n        \"publisher\": {\n            \"@type\": \"Organization\",\n            \"name\": \"PasswordMonkey\",\n            \"url\": \"https://passwordmonkey.org/\",\n            \"logo\": {\n                \"@type\": \"ImageObject\",\n                \"url\": \"https://passwordmonkey.org/images/site_logo.png\"\n            }\n        },\n        \"mainEntityOfPage\": {\n            \"@type\": \"WebPage\",\n            \"@id\": \"https://passwordmonkey.org/news/${filename}\"\n        },\n        \"image\": {\n            \"@type\": \"ImageObject\",\n            \"url\": \"https://passwordmonkey.org/images/og-image.png\",\n            \"width\": 1200,\n            \"height\": 630\n        },\n        \"articleSection\": \"Password Security\",\n        \"keywords\": \"password security, cybersecurity, data breach, password safety, digital security\"\n    }\n    </script>\n    \n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <script>\n        tailwind.config = {\n            darkMode: 'class',\n            theme: {\n                extend: {\n                    fontFamily: {\n                        sans: ['\"Open Sans\"', 'sans-serif'],\n                    },\n                    colors: {\n                        'blue-600': '#2563eb',\n                        'blue-700': '#1d4ed8',\n                        'gray-50': '#f9fafb',\n                        'gray-200': '#e5e7eb',\n                        'gray-300': '#d1d5db',\n                        'gray-400': '#9ca3af',\n                        'gray-500': '#6b7280',\n                        'gray-600': '#4b5563',\n                        'gray-700': '#374151',\n                        'gray-800': '#1f2937',\n                    }\n                }\n            }\n        }\n    </script>\n    <link rel=\"shortcut icon\" href=\"../favicon_io/favicon.ico\">\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"../favicon_io/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"../favicon_io/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"../favicon_io/favicon-16x16.png\">\n    <link rel=\"manifest\" href=\"../manifest.json\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">\n    <link rel=\"stylesheet\" href=\"../style.css\">\n    <script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9540362101494663\"\n     crossorigin=\"anonymous\"></script>\n    <script src=\"../script.js\" defer></script>\n</head>\n<body class=\"bg-gray-50 dark:bg-gray-900 min-h-screen font-sans\">\n    <header class=\"bg-white shadow-md dark:bg-gray-800\">\n        <div class=\"container mx-auto px-4 py-6 flex justify-between items-center\">\n            <a href=\"../index.html\" class=\"flex items-center\">\n                <i class=\"fas fa-lock text-blue-500 text-3xl mr-3\"></i>\n                <h1 class=\"text-2xl font-bold text-gray-800 dark:text-gray-100\">PasswordMonkey</h1>\n            </a>\n            <div class=\"flex items-center\">\n                <!-- Desktop Menu -->\n                <nav class=\"hidden md:flex space-x-4 items-center\">\n                    <a href=\"../index.html\" class=\"text-gray-600 hover:text-blue-500 transition dark:text-gray-300 dark:hover:text-blue-400\">Home</a>\n                    <a href=\"../faq.html\" class=\"text-gray-600 hover:text-blue-500 transition dark:text-gray-300 dark:hover:text-blue-400\">FAQ</a>\n                    <a href=\"../about.html\" class=\"text-gray-600 hover:text-blue-500 transition dark:text-gray-300 dark:hover:text-blue-400\">About</a>\n                    <a href=\"../privacy.html\" class=\"text-gray-600 hover:text-blue-500 transition dark:text-gray-300 dark:hover:text-blue-400\">Privacy</a>\n                    <a href=\"../donate.html\" class=\"text-gray-600 hover:text-blue-500 transition dark:text-gray-300 dark:hover:text-blue-400\">Donate</a>\n                    <a href=\"index.html\" class=\"text-blue-600 font-semibold\">News</a>\n                </nav>\n\n                <!-- Common Buttons -->\n                <button id=\"install-pwa-btn\" class=\"hidden bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition ml-4\" aria-label=\"Install App\">\n                    <i class=\"fas fa-download mr-2\"></i> Install\n                </button>\n                <button id=\"dark-mode-toggle\" class=\"ml-4 text-gray-600 dark:text-gray-200 p-2 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 transition\" aria-label=\"Toggle dark mode\">\n                    <i id=\"dark-mode-icon\" class=\"fas fa-moon text-2xl\"></i>\n                </button>\n\n                <!-- Mobile Menu Button -->\n                <button id=\"mobile-menu-btn\" class=\"ml-4 md:hidden text-gray-600 dark:text-gray-200 p-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700\">\n                    <i class=\"fas fa-bars text-2xl\"></i>\n                </button>\n            </div>\n        </div>\n        <!-- Mobile Menu -->\n        <div id=\"mobile-menu\" class=\"hidden md:hidden bg-white dark:bg-gray-800 shadow-md\">\n            <a href=\"../index.html\" class=\"block py-2 px-4 text-sm text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700\">Home</a>\n            <a href=\"../faq.html\" class=\"block py-2 px-4 text-sm text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700\">FAQ</a>\n            <a href=\"../about.html\" class=\"block py-2 px-4 text-sm text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700\">About</a>\n            <a href=\"../privacy.html\" class=\"block py-2 px-4 text-sm text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700\">Privacy</a>\n            <a href=\"../donate.html\" class=\"block py-2 px-4 text-sm text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700\">Donate</a>\n            <a href=\"index.html\" class=\"block py-2 px-4 text-sm text-blue-600 font-semibold bg-blue-50 dark:bg-blue-900/20\">News</a>\n        </div>\n    </header>\n\n    <main class=\"container mx-auto px-4 py-8 bg-gray-50 dark:bg-gray-900\">\n        <div class=\"max-w-4xl mx-auto\">\n            <!-- Breadcrumb Navigation -->\n            <nav class=\"mb-6 text-sm text-gray-600 dark:text-gray-400\">\n                <a href=\"../index.html\" class=\"hover:text-blue-600 dark:hover:text-blue-400\">Home</a>\n                <span class=\"mx-2\">→</span>\n                <a href=\"index.html\" class=\"hover:text-blue-600 dark:hover:text-blue-400\">News</a>\n                <span class=\"mx-2\">→</span>\n                <span class=\"text-gray-800 dark:text-gray-200\">${item.title}</span>\n            </nav>\n\n            <!-- Article Content -->\n            <article class=\"bg-white rounded-xl shadow-lg p-8 dark:bg-gray-800\">\n                <!-- Article Header -->\n                <header class=\"mb-8 pb-6 border-b border-gray-200 dark:border-gray-700\">\n                    <h1 class=\"text-4xl font-bold text-gray-800 dark:text-gray-100 mb-4\">${item.title}</h1>\n                    <div class=\"flex flex-wrap items-center gap-4 text-sm text-gray-600 dark:text-gray-400\">\n                        <div class=\"flex items-center\">\n                            <i class=\"fas fa-calendar-alt mr-2\"></i>\n                            <time datetime=\"${publishDateYMD}\">${publishDateHuman}</time>\n                        </div>\n                        <div class=\"flex items-center\">\n                            <i class=\"fas fa-user mr-2\"></i>\n                            <span>PasswordMonkey</span>\n                        </div>\n                        <div class=\"flex items-center\">\n                            <i class=\"fas fa-clock mr-2\"></i>\n                            <span>5 min read</span>\n                        </div>\n                    </div>\n                </header>\n\n                <!-- Article Body -->\n                <div class=\"prose prose-lg max-w-none text-gray-700 dark:text-gray-300\">\n                    ${bodyHtml}\n                </div>\n\n                <!-- Article Footer -->\n                <footer class=\"mt-8 pt-6 border-t border-gray-200 dark:border-gray-700\">\n                    <div class=\"flex flex-wrap items-center justify-between gap-4\">\n                        <div class=\"flex items-center space-x-4\">\n                            <span class=\"text-sm text-gray-600 dark:text-gray-400\">Share:</span>\n                            <a href=\"#\" class=\"text-gray-400 hover:text-blue-600 dark:hover:text-blue-400 transition\" aria-label=\"Share on Twitter\">\n                                <i class=\"fab fa-twitter text-xl\"></i>\n                            </a>\n                            <a href=\"#\" class=\"text-gray-400 hover:text-blue-600 dark:hover:text-blue-400 transition\" aria-label=\"Share on Facebook\">\n                                <i class=\"fas fa-facebook text-xl\"></i>\n                            </a>\n                            <a href=\"#\" class=\"text-gray-400 hover:text-blue-600 dark:hover:text-blue-400 transition\" aria-label=\"Share on LinkedIn\">\n                                <i class=\"fab fa-linkedin text-xl\"></i>\n                            </a>\n                        </div>\n                        \n                        <!-- Source/Reference if applicable -->\n                        <div class=\"text-sm text-gray-600 dark:text-gray-400\">\n                            Source: <a href=\"${proxiedLink}\" target=\"_blank\" rel=\"noopener\" class=\"text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300\">${item.source}</a>\n                        </div>\n                    </div>\n                </footer>\n            </article>\n\n            <!-- Related Articles Section -->\n            <section class=\"mt-12\">\n                <h2 class=\"text-2xl font-bold text-gray-800 dark:text-gray-100 mb-6\">Related Articles</h2>\n                <div class=\"grid md:grid-cols-2 gap-6\">\n                    <div class=\"bg-white rounded-lg shadow-md p-6 dark:bg-gray-800 hover:shadow-lg transition\">\n                        <h3 class=\"text-lg font-semibold text-gray-800 dark:text-gray-100 mb-2\">\n                            <a href=\"#\" class=\"hover:text-blue-600 dark:hover:text-blue-400\">Related Article Title 1</a>\n                        </h3>\n                        <p class=\"text-gray-600 dark:text-gray-400 text-sm mb-3\">Brief description of the related article...</p>\n                        <a href=\"#\" class=\"text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300 text-sm font-medium\">Read more →</a>\n                    </div>\n                    <div class=\"bg-white rounded-lg shadow-md p-6 dark:bg-gray-800 hover:shadow-lg transition\">\n                        <h3 class=\"text-lg font-semibold text-gray-800 dark:text-gray-100 mb-2\">\n                            <a href=\"#\" class=\"hover:text-blue-600 dark:hover:text-blue-400\">Related Article Title 2</a>\n                        </h3>\n                        <p class=\"text-gray-600 dark:text-gray-400 text-sm mb-3\">Brief description of the related article...</p>\n                        <a href=\"#\" class=\"text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300 text-sm font-medium\">Read more →</a>\n                    </div>\n                </div>\n            </section>\n\n            <!-- Back to News Button -->\n            <div class=\"mt-8 text-center\">\n                <a href=\"index.html\" class=\"inline-flex items-center bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg transition\">\n                    <i class=\"fas fa-arrow-left mr-2\"></i>\n                    Back to News\n                </a>\n            </div>\n        </div>\n    </main>\n\n    <footer class=\"bg-gray-800 text-white py-12 dark:bg-black\">\n        <div class=\"container mx-auto px-4\">\n            <div class=\"flex flex-col md:flex-row justify-between\">\n                <div class=\"mb-8 md:mb-0\">\n                    <div class=\"flex items-center mb-4\">\n                        <i class=\"fas fa-lock text-blue-400 text-2xl mr-3\"></i>\n                        <h3 class=\"text-xl font-bold\">PasswordMonkey</h3>\n                    </div>\n                    <p class=\"text-gray-400 max-w-xs\">Creating strong passwords to protect your digital life.</p>\n                </div>\n                <div class=\"grid grid-cols-2 md:grid-cols-3 gap-8\">\n                    <div>\n                        <h4 class=\"text-lg font-semibold mb-4\">Menu</h4>\n                        <ul class=\"space-y-2\">\n                            <li><a href=\"../index.html\" class=\"text-gray-400 hover:text-white transition\">Home</a></li>\n                            <li><a href=\"../about.html\" class=\"text-gray-400 hover:text-white transition\">About</a></li>\n                        </ul>\n                    </div>\n                    <div>\n                        <h4 class=\"text-lg font-semibold mb-4\">Support</h4>\n                        <ul class=\"space-y-2\">\n                            <li><a href=\"../donate.html\" class=\"text-gray-400 hover:text-white transition\">Donate</a></li>\n                            <li><a href=\"../privacy.html\" class=\"text-gray-400 hover:text-white transition\">Privacy Policy</a></li>\n                        </ul>\n                    </div>\n                </div>\n            </div>\n            <div class=\"border-t border-gray-700 mt-8 pt-8 flex flex-col md:flex-row justify-between items-center\">\n                <p class=\"text-gray-400 mb-4 md:mb-0\">\n                    &copy; ${publishYear} PasswordMonkey. All rights reserved.\n                </p>\n                <div class=\"flex space-x-6\">\n                    <a href=\"#\" class=\"text-gray-400 hover:text-white transition\" aria-label=\"Twitter\"><i class=\"fab fa-twitter\"></i></a>\n                    <a href=\"#\" class=\"text-gray-400 hover:text-white transition\" aria-label=\"Facebook\"><i class=\"fas fa-facebook\"></i></a>\n                </div>\n            </div>\n        </div>\n    </footer>\n</body>\n</html>`;\n\n// Return JSON + base64 content for GitHub\nreturn [{\n  json: {\n    ...item,\n    filename: filename,\n    htmlContent: html,\n    base64Content: Buffer.from(html).toString('base64')\n  }\n}];\n",
        "options": {}
      },
      "id": "d1668fc6-db8f-4783-abcf-0b8970903dcd",
      "name": "Generate HTML1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        2160
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $vars.GITHUB_OWNER || 'elmokhtarmchich' }}/{{ $vars.GITHUB_REPO || 'passwordmonkey' }}/contents/news/{{ $json.filename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "id": "90dd5d76-2664-437d-bf84-af242372546b",
      "name": "Check File Exists1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        2160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xadj1fiIneYazCsJ",
          "name": "Header Auth account"
        },
        "githubApi": {
          "id": "Py0K2HDfPxapXQ3w",
          "name": "GitHub account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "file-not-exists",
              "leftValue": "={{ $json.error?.description }}",
              "rightValue": "Not Found",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": false
        }
      },
      "id": "5afd17cd-ddf8-4d58-a0da-056bf61f97e9",
      "name": "Check ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1984,
        2112
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "skip-reason",
              "name": "action",
              "value": "skipped",
              "type": "string"
            },
            {
              "id": "skip-file",
              "name": "filename",
              "value": "={{ $('Generate HTML1').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "skip-msg",
              "name": "reason",
              "value": "file already exists",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b6d7de79-79be-4143-8cce-4a2d97aa3439",
      "name": "Log Skip1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        2224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "created-action",
              "name": "action",
              "value": "created",
              "type": "string"
            },
            {
              "id": "created-file",
              "name": "filename",
              "value": "={{ $('Generate HTML1').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "created-sha",
              "name": "commitSha",
              "value": "={{ $json.commit?.sha }}",
              "type": "string"
            },
            {
              "id": "created-path",
              "name": "path",
              "value": "=news/{{ $('Generate HTML1').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ff8c8914-dab5-413c-953e-7323263cff5b",
      "name": "Log Created1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2496,
        2016
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "elmokhtarmchich",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "passwordmonkey",
          "mode": "name"
        },
        "filePath": "=news/{{ $('Generate HTML1').item.json.filename}}",
        "fileContent": "={{ $('Generate HTML1').item.json.base64Content}}",
        "commitMessage": "={{ $('Generate HTML1').item.json.filename}}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2272,
        1936
      ],
      "id": "2c7ffe61-a647-4814-a661-71ce73a32cfc",
      "name": "Create a file1",
      "webhookId": "cbe608f6-b9f5-42bc-b9c4-6b04ab2098ab",
      "credentials": {
        "githubApi": {
          "id": "Py0K2HDfPxapXQ3w",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "https://krebsonsecurity.com/feed/"
            }
          ]
        },
        "options": {}
      },
      "id": "328de94e-37a4-4714-b0d8-dd74aa8c0524",
      "name": "Feed - Krebs on Security",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        368,
        2240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "https://www.darkreading.com/rss.xml"
            }
          ]
        },
        "options": {}
      },
      "id": "19d5316a-1d39-48e7-bfc2-5ffeb040ebe3",
      "name": "Feed - Dark Reading",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        368,
        2416
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "https://threatpost.com/feed/"
            }
          ]
        },
        "options": {}
      },
      "id": "8ed9a7ac-b9b2-4bc7-a493-aaab0768c612",
      "name": "Feed - Threatpost",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        368,
        2544
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "https://techcrunch.com/feed/"
            }
          ]
        },
        "options": {}
      },
      "id": "c8c8c8bb-894d-45db-8772-d865a2e16d30",
      "name": "Feed - TechCrunch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        384,
        1728
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "https://www.wired.com/feed/rss"
            }
          ]
        },
        "options": {}
      },
      "id": "458dab37-5750-4aa6-aee9-b6eb61462692",
      "name": "Feed - Wired",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        384,
        1840
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "https://www.theverge.com/rss/index.xml"
            }
          ]
        },
        "options": {}
      },
      "id": "ec436ade-e858-4330-92e8-b3913867fba6",
      "name": "Feed - The Verge",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        384,
        1936
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "https://www.engadget.com/rss.xml"
            }
          ]
        },
        "options": {}
      },
      "id": "2182ef4f-6ccb-4b89-b1a7-757fc9f9629f",
      "name": "Feed - Engadget",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        384,
        2032
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "http://feeds.bbci.co.uk/news/world/rss.xml"
            }
          ]
        },
        "options": {}
      },
      "id": "203862fb-4386-4b04-a18d-fb0bd49aadac",
      "name": "Feed - BBC News World",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        416,
        1232
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "https://www.aljazeera.com/xml/rss/all.xml"
            }
          ]
        },
        "options": {}
      },
      "id": "b58f687c-d316-4010-bad4-4f8257c5a0a8",
      "name": "Feed - Al Jazeera",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        1392
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feed",
              "value": "http://rss.cnn.com/rss/edition.rss"
            }
          ]
        },
        "options": {}
      },
      "id": "33ad117e-4d74-4ec2-b6b8-3d8a01e2cfa7",
      "name": "Feed - CNN Top Stories",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        384,
        1536
      ]
    },
    {
      "parameters": {
        "jsCode": "const wordsPerMinute = 200;\nconst wordCount = $input.first().content.split(/\\s+/).length;\nconst readingTime = Math.ceil(wordCount / wordsPerMinute);\nreturn [{json: {...$input.first().json, readingTime}}];"
      },
      "id": "calculate-reading-time",
      "name": "Calculate Reading Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst date = new Date(item.publishedAt);\nreturn [{\n  json: {\n    ...item,\n    dateISO: date.toISOString().split('T')[0],\n    dateFormatted: date.toLocaleDateString('en-US', {\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric'\n    })\n  }\n}];"
      },
      "id": "format-date",
      "name": "Format Article Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        2000
      ]
    }
  ],
  "connections": {
    "Cron Trigger1": {
      "main": [
        [
          {
            "node": "Set Feed ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Feed 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Feed 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - Krebs on Security",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - Dark Reading",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - Threatpost",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - Wired",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - The Verge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - Engadget",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - BBC News World",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - Al Jazeera",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed - CNN Top Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Feed ": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Feed 4": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Feed 5": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Normalize Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Items1": {
      "main": [
        [
          {
            "node": "Keyword Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter1": {
      "main": [
        [
          {
            "node": "Check Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Summary1": {
      "main": [
        [],
        [
          {
            "node": "Generate HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML1": {
      "main": [
        [
          {
            "node": "Calculate Reading Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Exists1": {
      "main": [
        [
          {
            "node": "Check ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ": {
      "main": [
        [
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file1": {
      "main": [
        [
          {
            "node": "Log Created1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - Krebs on Security": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - Dark Reading": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - Threatpost": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - TechCrunch": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - Wired": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - The Verge": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - Engadget": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - BBC News World": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - Al Jazeera": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed - CNN Top Stories": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Reading Time": {
      "main": [
        [
          {
            "node": "Format Article Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article Date": {
      "main": [
        [
          {
            "node": "Check File Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e901649d413cb8ecde84cc4e5c58002903e4bc551001b5fb27f58a9b8efe393"
  }
}